@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
	background: #111;
	font-family: 'Inter', sans-serif;
	color: white;
}

body,
html {
	margin: 0;
	padding: 0;
}
